<div class="div-border" style="padding: 14px; margin-top: 3px;">
    <h5 class="card-title text-center" style="margin-top: 13px;">Hotel Info</h5>
    <div class="row ">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <span><strong>{{hotelData.hotelName}}</strong></span>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <span class="text-muted">{{hotelData.hotelLocation}}</span>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
            <span class="badge badge-pill badge-info">{{hotelData.hotelDistance}}</span><span
                style="font-family: monospace; font-size: 1.1em;"> from Airport</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-4">
            Price:
        </div>
        <div class="col-md-8 col-lg-8 col-xs-8">
            <span style="font-family: monospace; font-size: 1.1em;">{{hotelData.price}} per&nbsp;night</span>
        </div>
    </div>
</div>